<% title '【直达客】成功案例，直达客建站系统！' %>
<% meta_keywords '成功案例，直达客网站建设，直达客手机网站，高端网站设计，网站建设，网页设计，网站运营，公众号，小程序' %>
<% meta_description '网站建设，网页设计，网站运营，公众号，小程序，直达客新一代多终端适配网站建设平台，帮助企业建立网络营销平台，直达电话：18080810818' %>

<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container">
    <div class="row">
      <div class="8u">
        <h2>直达客如何帮助企业实现O2O</h2>
        <p>直达客客户遍及家具家居企业、生态农业、洗衣连锁、垂直O2O等行业</p>
      </div>
      <div class="4u">
        <ul>
          <li><a href="/contact" class="button big icon fa-arrow-circle-right">马上联系我们</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Features -->
<div id="main-wrapper">
  <div class="container">
    <% first = 0 %>
    <% last = 0 %>
    <% @posts.each do |post| %>
      <% if first%3 == 0 %>
        <div class="row">
        <% last = 0 %>
      <% end %>
        <div class="4u">
          <!-- Box -->
          <section class="box feature">
            <a href="<%= post_path(post.short_title)%>" class="image featured"><img src="<%= post.get_image_path %>" alt="<%= post.keywords %>" /></a>
            <div class="inner">
              <header>
                <h2><%= link_to post.title, post_path(post.short_title, from: 'case') %></h2>
                <p><%= post.keywords %></p>
              </header>
              <p><%= post.description %></p>
            </div>
          </section>
        </div>
      <% if last == 2 %>
        </div>
      <% end %>
      <% first += 1 %>
      <% last += 1 %>
    <% end %>
    <div class="row">
      <div class="12u">
        <%= will_paginate @posts %>
      </div>
    </div>
  </div>
</div>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row 200%">
      <div class="12u">
        <div id="content">

          <div class="row">
            <div class="3u">
              <%=image_tag 'qr-zhidak.png' %>
            </div>
            <div class="3u">
              <p><a href="<%= price_path %>" class="button icon fa-cny"> 价格方案 </a></p>
              <p><a href="<%= contact_path %>" class="button icon fa-user"> 联系我们 </a></p>
            </div>
            <div class="6u">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
