<% title '【直达客】精准直达客户，移动你的生意！公司建站高端品牌！' %>
<% meta_keywords '首页' %>
<% meta_description '直达电话：18080810818' %>

<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container">
    <div class="row">
      <div class="8u">
        <h2>企业建站全网营销系统</h2>
        <p>公司建站＋手机网站＋微信公共号＋百度直达号＋产品二维码</p>
        <small>五大流量入口，让业务精准直达客户！</small>
        <small>八大营销模式，让生意遍布整个网络！</small>
      </div>
      <div class="4u">
        <ul>
          <li><a href="/contact" class="button big icon fa-arrow-circle-right">移动你的生意</a></li>
          <li><a href="http://builder.zhidak.com" target="_blank" class="button blue big icon fa-cube">自助建站</a></li>
          <li><a href="/post/1" class="button alt big icon fa-cube">了解更多</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Features -->
<div id="features-wrapper">
  <div class="container">
    <div class="row">
      <% @portfolios.each do |post| %>
        <div class="4u">
          <!-- Box -->
          <section class="box feature">
            <a href="<%= channel_path(post.short_title)%>" class="image featured"><img src="<%= post.get_image_path %>" alt="<%= post.keywords %>" /></a>
            <div class="inner">
              <header>
                <h2><%= link_to post.title, channel_path(post.short_title) %></h2>
                <p><%= post.keywords %></p>
              </header>
              <p><%= post.description %></p>
            </div>
          </section>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="4u">
        <!-- Sidebar -->
          <div id="sidebar">
            <section class="widget thumbnails">
              <h3>他们已经接入直达客</h3>
              <div class="grid">
                <div class="row no-collapse 50%">
                  <% (0..1).each do |i|%>
                    <% post = @cases[i] %>
                    <% next if post.nil? %>
                    <div class="6u"><a href="<%= post_path(post) %>" class="image fit"><img src="<%= post.get_image_path %>" alt="<%= post.title %>" /></a></div>
                  <% end %>
                </div>
                <div class="row no-collapse 50%">
                  <% (2..3).each do |i| %>
                    <% post = @cases[i] %>
                    <% next if post.nil? %>
                    <div class="6u"><a href="<%= post_path(post) %>" class="image fit"><img src="<%= post.get_image_path %>" alt="<%= post.title %>" /></a></div>
                  <% end %>
                </div>
                <div class="row no-collapse 50%">
                  <% (4..5).each do |i| %>
                    <% post = @cases[i] %>
                    <% next if post.nil? %>
                    <div class="6u"><a href="<%= post_path(post) %>" class="image fit"><img src="<%= post.get_image_path %>" alt="<%= post.title %>" /></a></div>
                  <% end %>
                </div>
              </div>
              <a href="/case" class="button icon fa-file-text-o">查看更多</a>
            </section>
          </div>
      </div>
      <div class="4u important(collapse)">
          <div id="content">
            <section class="last">
              <h3>直达客行业观点</h3>
              <ul class="style2">
                <% @posts.each do |post| %>
                  <li><i class="icon fa-<%= ['star', 'star-half', 'star-half-o', 'start-o'][rand(3)]%>"></i>   <a href="<%= post_path(post.id) %>"><%= post.title %></a></li>
                <% end %>
              </ul>
            </section>
          </div>
      </div>
      <div class="4u important(collapse)">
        <div id="content">
          <section class="last">
            <h3><%= @about.title %></h3>
            <%= simple_format @about.content.truncate(150) %>
            <a href="<%= post_path(@about) %>" class="button icon fa-arrow-circle-right">了解更多</a>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

