<% title '直达客解决方案' %>
<% meta_keywords '直达客解决方案' %>
<% meta_description '直达电话：18080810818' %>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row 200%">
      <div class="12u">
        <div id="content">
          <% first = 0 %>
          <% last = 0 %>
          <% @posts.each do |post| %>
            <% if first%3 == 0 %>
              <div class="row">
              <% last = 0 %>
            <% end %>
            <div class="4u">
              <!-- Box -->
              <section class="box feature">
                <a href="<%= post_path(post.short_title)%>" class="image featured"><img src="<%= post.get_image_path %>" alt="<%= post.keywords %>" /></a>
                <div class="inner">
                  <header>
                    <h2><%= link_to post.title, post_path(post.short_title) %></h2>
                    <p><%= post.keywords %></p>
                  </header>
                  <p><%= post.description %></p>
                </div>
              </section>
            </div>
            <% if last == 2 %>
              </div>
            <% end %>
            <% first += 1 %>
            <% last += 1 %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="12u">
        <%= will_paginate @posts %>
      </div>
    </div>
  </div>
</div>
