<% title '直达客解决方案' %>
<% meta_keywords '直达客解决方案' %>
<% meta_description '直达电话：18080810818' %>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row 200%">
      <div class="12u">
        <div id="content">

          <div class="row">
            <% @posts.each do |post| %>
              <div class="4u">
                <!-- Box -->
                <section class="box feature">
                  <a href="<%= post_path(post.id)%>" class="image featured"><img src="<%= post.image_path %>" alt="<%= post.keywords %>" /></a>
                  <div class="inner">
                    <header>
                      <h2><%= post.title %></h2>
                      <p>Maybe here as well I think</p>
                    </header>
                    <p><%= post.description %></p>
                  </div>
                </section>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>  