<% title '直达客全网营销，直达客网站建设，微信小程序服务商！' %>
<% meta_keywords '直达客全网营销，直达客网站建设，微信小程序服务商，移动你的生意，直达你的客户' %>
<% meta_description '直达客全网营销，直达客网站建设，微信小程序服务商，电话：18080810818' %>

<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container">
    <div class="row">
      <div class="8u">
        <h2>你的品牌如何在浩瀚网络中发光？</h2>
        <p>直达客新一代多终端适配建站，配合内容营销策划，让你的品牌脱颖而出！</p>
      </div>
      <div class="4u">
        <ul>
          <li><a href="/contact" class="button big icon fa-arrow-circle-right">马上联系我们</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="12u">
        <div id="content">
            <% first = 0 %>
            <% last = 0 %>
            <% @posts.each do |post| %>
              <% if first%3 == 0 %>
                <div class="row">
                <% last = 0 %>
              <% end %>
              <div class="4u">
                <!-- Box -->
                <section class="box feature" style="border: solid 1px #f7d2df;">
                  <a href="<%= post_path(post.id)%>" class="image featured"><img src="<%= post.get_image_path %>" alt="<%= post.keywords %>"/></a>
                  <div class="inner">
                    <h2 style="line-height:26px">
                      <%= link_to post.title, post_path(post.short_title) %></h2>
                      <small><%= post.description %></small>
                    <hr/>
                    <p style="color: #000;"><%= post.keywords %></p>
                  </div>
                </section>
              </div>
              <% if last == 2 %>
                </div>
              <% end %>
              <% first += 1 %>
              <% last += 1 %>
            <% end %>
          </div>
          <%= will_paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>
