<% title '企业O2O营销教程，精准直达你的客户' %>
<% meta_keywords '移动你的生意，直达你的客户' %>
<% meta_description '直达电话：18080810818' %>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="12u">
        <div id="content">
            <% first = 0 %>
            <% last = 0 %>
            <% @posts.each do |post| %>
              <% if first%3 == 0 %>
                <div class="row">
                <% last = 0 %>
              <% end %>
              <div class="4u">
                <!-- Box -->
                <section class="box feature" style="border: solid 1px #f7d2df;">
                  <a href="<%= post_path(post.id)%>" class="image featured"><img src="<%= post.get_image_path %>" alt="<%= post.keywords %>"/></a>
                  <div class="inner">
                    <h2 style="line-height:26px"><%= link_to post.title, post_path(post.short_title) %></h2>
                    <hr/>
                    <p style="background: #f7d2df;"><%= distance_of_time_in_words_to_now(post.updated_at) %>前 (<%= post.keywords %>)</p>
                  </div>
                </section>
              </div>
              <% if last == 2 %>
                </div>
              <% end %>
              <% first += 1 %>
              <% last += 1 %>
            <% end %>
          </div>
          <%= will_paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>  