<% title @post.title %>
<% meta_keywords @post.title %>
<% meta_description @post.title %>
<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row 200%">
      <div class="8u">
        <div id="content">
          <!-- Content -->
          <article>
            <h1><%= @post.title %></h1>
            <hr/>
            <div class="row">
              <div class="8u">
                <strong>发布时间：</strong> <%= get_date(@post.updated_at) %> <strong>关键词：</strong> <%= @post.keywords %>
              </div>
              <div class="4u">
                <!--bdshare(master@inruby.com) -->
                <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"http://www.zhidak.com/assets/logo.png","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                  <!-- bdshare end -->
              </div>
            </div>
            <hr/>

            <div class="post-content image fit">
              <%= raw @post.get_content %>
            </div>
          </article>

        </div>
      </div>
      <div class="4u">
        <%= render 'layouts/sidebar' %>
      </div>
    </div>
  </div>
</div>
