<% title '企业O2O营销教程，精准直达你的客户' %>
<% meta_keywords '移动你的生意，直达你的客户' %>
<% meta_description '直达电话：18080810818' %>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="8u">
        <div id="content">

          <div class="row">
            <% @posts.each do |post| %>
              <div class="6u">
                <!-- Box -->
                <section class="box feature">
                  <a href="<%= post_path(post.id)%>" class="image featured"><img src="<%= post.get_image_path %>" alt="<%= post.keywords %>" style="border: solid 1px #e8e8e8;"/></a>
                  <div class="inner">
                    <h2><%= link_to post.title.truncate(20), post_path(post.short_title) %></h2>
                    <p><%= distance_of_time_in_words_to_now(post.updated_at) %>前 (<%= post.keywords %>)</p>
                  </div>
                </section>
              </div>
            <% end %>
          </div>
          <%= will_paginate @posts %>
        </div>
      </div>
      <div class="4u">
        <%= render 'layouts/sidebar' %>
      </div>
    </div>
  </div>
</div>  